
{% load static %} 
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/images/dclm.png" type="image/x-icon">

    <title>{% block title %} Les difficultes par Region{% endblock %}</title>

    <!--  Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

     <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  

</head>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
              <div class="sidebar-brand-icon rotate-n-15">
                  <i class="fa fa-home"></i>
              </div>
              <div class="sidebar-brand-text mx-3">Accueil</div>
          </a>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">

          <!-- Nav Item - Dashboard -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'difficultes_list' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Difficultes</span></a>
        </li>
<hr class="sidebar-divider my-0">
{% if user.is_authenticated %}
    {% if user.id == difficultes.auteur.id or user.id == 1 or user.id == 2 or user.id == 3 or user.id == 4 or user.id == 5 or user.id == 6 or user.id == 7 or user.id == 8 or user.id == 9 or user.id == 10 or user.id == 11 or user.id == 12 or user.id == 13 or user.id == 14 or user.id == 15 %} 

    
        
        <br>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Difficultes/Region</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                  {% for items in Region_list %}
                    <a class="collapse-item" href="{% url 'difficultes_region' items %}" style="overflow: scroll;"> {{items}} </a>
                  {% endfor %}     
                </div>
            </div>
        </li>
            
    {% endif %}
{% endif %}
<br><br><br>
          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
              <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

              <!-- Topbar -->
              <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                
              </nav>
              <!-- End of Topbar -->

              <!-- Begin Page Content -->
              <div class="container-fluid">

{% if user.is_authenticated %}
    {% if Difficultes_region %}

                
    
                {% if user.id == difficultes.auteur.id or user.id == 1 or user.id == 2 or user.id == 3 or user.id == 4 or user.id == 5 or user.id == 6 or user.id == 7 or user.id == 8 or user.id == 9 or user.id == 10 or user.id == 11 or user.id == 12 or user.id == 13 or user.id == 14 or user.id == 15 %} 

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Le nombre de difficultes dans cette region ({{regs}}) est ({{Difficultes_region_count}})</</h1>
                            
                    </div>
                {% endif %}
    
                 
                {% for difficultes in Difficultes_region %}
                  {% if user.id == difficultes.auteur.id or user.id == 1 or user.id == 2 or user.id == 3 or user.id == 4 or user.id == 5 or user.id == 6 or user.id == 7 or user.id == 8 or user.id == 9 or user.id == 10 or user.id == 11 or user.id == 12 or user.id == 13 or user.id == 14 or user.id == 15 %} 

                    <div class="row">

                        <div class="col-lg-12">
                            <div class="card mb-3" style="max-width: 100%; ">
                              <div class="row g-0">
                              
                                <div class="col-md-12">
                                  <div class="card-body">
                                    <h5 class="card-title">Nom : <a href=" {% url 'difficultes_detail' difficultes.id %} ">{{difficultes.nom_du_concerne}}</a> </h5> 
  <br>
                                   <div class="row">
                                       <div class="col-md-3">Concerné :  <a href="{% url 'difficultes_concerne' difficultes.etes_vous %}"><strong>{{difficultes.etes_vous}}</strong></a></div>
                                       <div class="col-md-3">District : <a href="{% url 'difficultes_district' difficultes.district_du_concerne %}"><strong>{{difficultes.district_du_concerne}}</strong></a></div>
                                       <div class="col-md-3">Groupe : <a href="{% url 'difficultes_groups' difficultes.groupe_du_concerne %}"><strong>{{difficultes.groupe_du_concerne}}</strong></a></div>
                                       <div class="col-md-3">Region : <a href="{% url 'difficultes_region' difficultes.region_du_concerne %}"><strong>{{difficultes.region_du_concerne}}</strong></a></div>
                                   </div>
                                   <br>
                                  <center><p>Date d'ajout :<strong>{{difficultes.add_date}}</strong></p></center>
                        
                                  </div>
                                </div>
                              </div>
                            </div>
  
                        </div>
                    </div>    
                    {% endif %}
                  {% endfor %} 
     
            {% else  %}
                Aucune difficultes pour cette region ({{regs}})
        {% endif %}
    {% else %}
         Vous n'êtes pas autoriser avisiter cette page. Comment avez-vous trouvez  ce  lien. Voilà un suspect.......Vienez au poste demain je vais annaliser ton cas !
{% endif %}
              </div>
              <!-- /.container-fluid -->

          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          <footer class="sticky-footer bg-white">
              <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Pour toute autre activité sur le site contacter  <a href="https://www.facebook.com/Herve-page-100602445047338/" title="97605867">Herve victor</a></span>
                </div>
              </div>
          </footer>
          <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
  </a>

 

      <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>






















